html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li{
list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(236, 217, 217);
  margin: 0 auto;
}

.header {
  /* width: 100%; */
}

.header-socials {
  background-color: olivedrab;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 25px;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.social-item {
  padding-left: 20px;

}

i{
  font-size: 2rem;
  color: rgb(189, 187, 184);
}

.header-menu {
  background-color: rgb(185, 177, 177);
  width: 100%;
  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.main-logo, .header-logo {
  width: 150px;
  height: 85px;
  border-radius: 25px;
}

.header-menu-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  justify-content: space-between;
}

.header-menu-item {
  margin-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header-menu-item>a {
  color: black;
  font-weight: 700;
}

/* MAIN SECTION */
/* https://clubleva.ua/wp-content/uploads/2020/02/home-sl-6.jpg?id=7884 */
.main-bg-section {
  min-width: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: 100%;
  margin-bottom: 25px;
}

.section-cards {
  margin: 0 auto;
  max-width: 1000px;
}

.section-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-cards-list-item {
  width: 45%;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
  position: relative;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.football {
  background-image: url(../images/cards/1594704748_77856.jpg);
}
.footzal {
  background-image: url(../images/cards/unnamed.jpg);
}
.karate {
  background-image: url(../images/cards/karate-1.jpg);
}
.kapoeyra {
  background-image: url(../images/cards/kapoeyra.jpg);
}
.baseball {
  background-image: url(../images/cards/ask-history-who-invented-baseball-2.jpg);
}

.card-title, .card-text {
  text-align: center;
  color:black;
}

.card-more {
  /* position: absolute; */
  bottom: 15px;
  right: 15px;
  margin-top: 30px;
  color: blue;
  font-size: 1.3rem;
  margin-left: 65%;
}

.slider-img {
  width: 100%;
  max-height: 600px;
}

.slider-section {
  padding-bottom: 30px;
  margin-bottom: 300px;
}


/* ЗРОБИТИ ДИЗАЙН КНОПОК  */